   <div class="bg-form">
      <%= simple_form_for [@planet, @planet.reviews.new], url: planet_reviews_path(@planet), local: true do |f| %>
    <div class="form-type">
      <%= f.input :comment, as: :text %>
    </div>

    <div class="form-type">
      <%= f.input :rating, as: :integer, in: 1..5 %>
    </div>
</div>

    <div class="button-style txt-col">
      <%= f.button :submit, 'Envoyer' %>
    </div>
  <% end %>
