<div data-controller="toggle" class="mt-5">
    <button data-action="click->toggle#fire" class="btn btn-outline-primary">Add a new planet</button>

  <div data-toggle-target="togglableElement" class="d-none">
    <%= render "form", planet: @planet %>
  </div>
</div>
