.button-style {
  border-radius: 5px;
  background-color: #ffa732; /* Orange */
  border-style: solid;
  border-color: #f19419;
  color: white;
  padding: 15px 32px;
  margin-left: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-weight: bolder;
  width: 100px;
  height: 50px;
}

.button-style:hover {
  background-color: #c27715;
}
