.button-style {
  border-radius: 4px;
  background-color: #001c30; /* Same blue as card bg */
  border-style: solid;
  border-color: #fcfbfa;
  color: white;
  padding: 8px 16px;
  margin-right: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  font-weight: 400;
  width: 170px;
  height: 50px;
}

.button-style:hover {
  opacity: 0.5;
}
