$whiteblue: #DAFFFB;

.card-border{
  border: 3px solid $whiteblue;
  border-radius: 5px;
  // padding: 10px;
  // margin: 10px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  &:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
}
