.message-container {
  text-align: center;
  margin: 20px 0;
  padding: 10px;
  background-color: #DAFFFB;
  border-radius: 8px;
  border-color: #001C30;
  border:1px solid;

}

.message-container h1 {
  font-size: 24px;
  color: #333;
  margin-top: 4px;
}
