.navbar-lewagon {
  justify-content: space-between;
  background: white;
  border-bottom: 1px solid #555555;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 10;
}

.navbar-lewagon .navbar-brand img {
  width: 80px;
  height: 80px;
}
.nav-item-login {
  display: flex;
  margin-left: auto;
  justify-content: flex-end;
}

.nav-item .active {
  justify-content: space-between;
}
